name: CI

on:
  - push
  # - pull_request # TODO: remove this

jobs:
  fuzz:
    runs-on: [ubuntu-20.04]
    steps:
    - uses: actions/checkout@v2
    - name: Run with Docker
      run: |
        chmod -R ugo+w .
        make -f misc/docker-ci/check.mk fuzz

  macOS:
    runs-on: [macos-10.15]
    steps:
    - uses: actions/checkout@v2

    - name: Create Build Environment
      run: mkdir -p ${{runner.workspace}}/build

    - name: Cache CPAN Dependencies
      uses: actions/cache@v2
      with:
        path: |
          ${{runner.workspace}}/local
        key: cpan-${{ runner.os }}-${{ hashFiles('cpanfile') }}

    - name: Cache CCache
      uses: actions/cache@v2
      with:
        path: |
          ${{runner.workspace}}/.ccache
        key: ccache-${{ runner.os }}

    - name: Install Dependencies
      run: |
        brew install expect nghttp2 ccache cpm

        # install curl 7.57.0 because t/50fastcgi.t depends on it.
        wget --no-verbose -O - https://curl.haxx.se/download/curl-7.57.0.tar.gz | tar xzf -
        (cd curl-7.57.0 && ./configure --prefix=/usr/local --without-brotli --with-nghttp2 --disable-shared && make && sudo make install)

    - name: Install CPAN Dependencies
      run: |
        perl -V
        cpm install -L "${{runner.workspace}}"

    - name: Setup CCache
      run: |
        echo "CCACHE_DIR=$PWD/.ccache" >> $GITHUB_ENV
        ccache --zero-stats

    - name: Configure
      working-directory: ${{runner.workspace}}/build
      run: cmake $GITHUB_WORKSPACE -DCMAKE_BUILD_TYPE=Debug

    - name: Build
      working-directory: ${{runner.workspace}}/build
      run: make all

    - name: Test
      working-directory: ${{runner.workspace}}/build
      env:
        PERL5OPT: "-Mlib=${{runner.workspace}}/local/lib/perl5"
      run: |
        perl -V
        make check
